In [ ]:
def classify(row):
    avg_runs = row['cumulative_derived_Batting Avg']
    batting_sr = row['cumulative_derived_Batting Strike Rate']
    wickets = row['cumulative_Wickets_sum']
    matches_played = row['Total_matches_played_sum']
    wickets_per_match = wickets / matches_played if matches_played > 0 else 0
    bowling_avg = row['cumulative_derived_Bowling Avg']
    
    if avg_runs > 25 and batting_sr > 0.70 and wickets < 0.1 * matches_played:
        return 'Batter'
    elif wickets_per_match > 0.75 and bowling_avg < 35 and avg_runs < 25:
        return 'Bowler'
    elif avg_runs > 25 and wickets_per_match > 0.3 and batting_sr > 0.70:
        return 'All-Rounder'
    else:
        return 'Unclassified'

In [39]:
# Load the dataset
file_path = "/home/ai21btech11012/FIFS_dream11/src/data/processed/combined/10_ODI.csv"  # Change this to your actual file path
df = pd.read_csv(file_path)

# Initialize lists to store filtered data
player_ids = []
players = []
player_roles = []

previous_player_id = None

for index, row in df.iterrows():
    current_player_id = row['player_id']  # Assuming 'player_id' column exists
    player = row['player'] # Assuming 'player' column exists

    if current_player_id != previous_player_id:
        player_ids.append(current_player_id)
        players.append(player)
        player_roles.append(classify(row)) # Classify the row here

        previous_player_id = current_player_id

# Create a new DataFrame with only the required columns
new_df = pd.DataFrame({'player_id': player_ids, 'player': players, 'player_role': player_roles})

# Save the results
new_df.to_csv("classified_odi_players.csv", index=False)
print("Classification complete. Results saved to classified_odi_players.csv")

Classification complete. Results saved to classified_odi_players.csv

## TOP 5 players are batters

In [1]:
import json

In [8]:
batter_dict = {}
def get_batters(json_path):
    # print(json_path)
    global batter_dict

    with open(json_path, "r") as file:
        cur_match = json.load(file)
    # print(cur_match['info']['gender'])
    if cur_match['info']['gender'] != 'male' :
        return None 
    
    for innings in range(len(cur_match['innings'])):
        curr_batters = set()
        for over in cur_match['innings'][innings]['overs']:
            for delivery in  over["deliveries"]:
                batter_name = delivery["batter"]
                batter_id = cur_match["info"]["registry"]["people"][batter_name]
                if batter_id not in curr_batters:
                    curr_batters.add(batter_id)
                if len(curr_batters)>=5:
                    break
            if len(curr_batters)>=5:
                    break
        for batter in curr_batters:
            if batter not in batter_dict:
                batter_dict[batter] = 1
            else:
                batter_dict[batter] += 1
        # print(curr_batters, "hi")
# get_batters("/home/ai21btech11012/FIFS_dream11/src/data/raw/cricsheet/all_json/1198240.json")

In [11]:
batter_dict

{'99cddc5e': 8,
 'e957b38f': 14,
 'cf494ffe': 105,
 '6ef13460': 77,
 '59ea70a4': 39,
 '9948e262': 61,
 'bf814547': 12,
 'f76d7466': 22,
 '6a26221c': 65,
 '9ffd1ac1': 39,
 'c500ec39': 7,
 'd8699ab7': 96,
 '7d415ea5': 188,
 '69762509': 71,
 '2b6e6dec': 117,
 'f76ffa81': 9,
 'f011dfa3': 1,
 'ea42ddb9': 61,
 '6e1b1ec0': 56,
 'd2f3829d': 11,
 'd0513f63': 49,
 'f842c2cf': 163,
 '508a1ea7': 67,
 '5748e866': 25,
 '48fd7349': 72,
 'ba607b88': 275,
 '1dc12ab9': 121,
 '1c914163': 174,
 '0a476045': 163,
 '4b57e452': 15,
 'cfad138c': 35,
 '896d78ad': 100,
 '2008fc75': 19,
 '5bdcdb72': 184,
 '7ed9fd56': 193,
 '740742ef': 234,
 'c03f1114': 55,
 '4329fbb5': 124,
 'db584dad': 197,
 '24ecc358': 10,
 '89f64c19': 55,
 'caf1b14c': 16,
 '2f8a9682': 34,
 'd1c36f5c': 109,
 'abb83e27': 84,
 'd2a6c0e6': 190,
 'a343262c': 155,
 '92aeac25': 65,
 'dcce6f09': 154,
 '3d8feaf8': 56,
 '30a45b23': 127,
 '12b610c2': 52,
 '53597be1': 159,
 'e7ba1233': 46,
 'afe57f7a': 104,
 'f32dbc84': 78,
 '31fbf891': 155,
 '7dc35884': 184,
 'b9c225c2': 52,
 'e74ad9ea': 42,
 '53bc7b84': 41,
 '86cd782f': 7,
 '611c06dd': 28,
 'a21ea40c': 17,
 '0fdabe05': 96,
 '3b041a12': 215,
 '17efdeb8': 40,
 '02e83ac5': 13,
 '2bb09eb2': 102,
 '156d0ea2': 21,
 '25d7f1ac': 54,
 '290cba17': 33,
 'a9231c3f': 46,
 '17aa4f1d': 47,
 'c810b349': 4,
 '7ca68967': 4,
 '89a7dd4a': 1,
 '42bf1b7d': 4,
 'd8976cb7': 1,
 '9ab63e7b': 198,
 '3eb7c45d': 21,
 'e237b28c': 120,
 'f144d99b': 39,
 '33cb3411': 151,
 'af2cc80a': 3,
 '7ee2ce62': 28,
 'ddc0828d': 44,
 '1200550f': 42,
 '7ca5e05d': 53,
 'b68d14a9': 112,
 'bdadf7da': 12,
 '7bf96684': 33,
 '9550470d': 46,
 '732c038e': 54,
 'f21043a5': 100,
 '7d608e12': 31,
 '8ee36b18': 53,
 'f233bbb4': 132,
 'd18f9182': 251,
 '6b71e6cf': 273,
 '0dc00542': 46,
 'ff077124': 76,
 '64c34cd0': 134,
 'd2c2b2d5': 142,
 '4a8a2e3b': 122,
 '0184dc35': 107,
 '725529bc': 73,
 'f41598c1': 91,
 '39f01cdb': 115,
 '33155d1b': 144,
 'a386e91b': 93,
 'fd835ab3': 31,
 '56c205b7': 13,
 '8ba8195d': 164,
 'bb345e0b': 133,
 '82c528b2': 6,
 '3f4b9ae5': 2,
 '48fa71c3': 2,
 '10840285': 2,
 '1f6cbaff': 4,
 '00d69fa4': 36,
 '0939c670': 24,
 '753b5a2d': 2,
 '7081491e': 13,
 '6ed3d5ac': 20,
 '5abdfd23': 8,
 '45d4cb14': 14,
 'fbaa61d2': 18,
 '0b7930ed': 7,
 '34ff9e07': 13,
 '8a686d30': 64,
 '00ea9791': 11,
 '99b75528': 52,
 'b8d490fd': 139,
 'd9273ee7': 30,
 'fa433be6': 48,
 '2be41edb': 191,
 '928670cc': 16,
 'b61a3e1a': 209,
 'c03449e0': 53,
 '57efa3be': 84,
 'fc4375ef': 34,
 '6a71ba3a': 8,
 'b699df47': 53,
 '81a0e294': 8,
 'b59db04f': 29,
 '5b1d6583': 11,
 'e3386c8a': 50,
 'dcbea954': 53,
 '8abdf100': 14,
 'b8a55852': 125,
 'd027ba9f': 150,
 'c5928dec': 75,
 '400e2d4d': 35,
 '48a1d7b7': 43,
 '0ebfb1ad': 51,
 'f846de6a': 125,
 '1fc6ef83': 120,
 'd1988788': 37,
 'e045c165': 21,
 '6176f240': 35,
 'e9630504': 24,
 'ced0ec25': 18,
 '3355b542': 123,
 '72861603': 152,
 '86dc8f2e': 131,
 'c4487b84': 211,
 'e798611a': 174,
 '4ec07775': 13,
 '0d677597': 33,
 '2318ba22': 18,
 'd953ed6a': 15,
 'dc36a6a5': 8,
 'a94e08ea': 146,
 '72b245dd': 44,
 'de0a3209': 16,
 'f55c526f': 9,
 '3300d23c': 30,
 'c8d74c21': 15,
 '26d041c4': 69,
 'c96311d4': 80,
 'a879b92c': 25,
 'b80dd12c': 50,
 'b3b39bed': 29,
 '34464143': 41,
 'c4e73ff1': 35,
 '44d6a8b8': 20,
 '9d1f42c6': 15,
 'a1d3540a': 10,
 '5f5e0c8c': 8,
 '1be70c88': 38,
 '36d33dd0': 107,
 '122108d8': 9,
 '480ed517': 43,
 '390ff45b': 7,
 '864c199e': 15,
 '48f177f5': 6,
 '4d6d6280': 63,
 'fd2bf2a0': 41,
 '5eea345c': 5,
 '85d8110a': 63,
 'ff014c34': 44,
 '8b261d84': 67,
 '9c376401': 60,
 'd3868bd0': 4,
 'fbb657bb': 15,
 'd1f871a4': 2,
 '35971419': 2,
 'e3eb9e46': 15,
 '1e25b5bf': 8,
 '5d1e7582': 121,
 '9ab2914d': 38,
 '7fa12533': 17,
 'eade4650': 33,
 'ba5e1069': 15,
 'df5a6881': 30,
 '22bd731a': 13,
 '8d8c24fd': 21,
 '9d710afe': 7,
 '35205dfc': 35,
 'e66732f8': 6,
 '85b3fab2': 4,
 '4992d6f6': 9,
 '478a63e7': 10,
 '3979b5e0': 20,
 '0404d43c': 83,
 '1274d7ab': 37,
 '9e52a414': 16,
 'a757b0d8': 22,
 '14b14cd8': 107,
 'e012ad13': 41,
 '6752c57b': 10,
 'bf1d7d3e': 55,
 'b17e2f24': 66,
 '919a3be2': 25,
 'ad9c32a2': 29,
 'e087956b': 76,
 '2f26ac1a': 49,
 '211de69f': 51,
 '7cd0a092': 40,
 '96a2336e': 4,
 '4d9f9686': 58,
 '03521fd3': 52,
 'b681e71e': 55,
 '5056011d': 73,
 '86d38202': 7,
 '5680f1ad': 13,
 '795df06c': 11,
 '3a026eb4': 5,
 'c981bfad': 6,
 '112959b2': 18,
 '9b6ad88a': 13,
 '85ec8e33': 56,
 '271f83cd': 18,
 'a4cc73aa': 10,
 'b4b99816': 48,
 '3241e3fd': 51,
 '977b841a': 29,
 '73c18486': 23,
 '7fca84b7': 45,
 '488b7e1b': 19,
 '82c78845': 6,
 '7eae4418': 107,
 'bb351c23': 25,
 'e15faa51': 20,
 '10a2a1ff': 36,
 '70542bef': 30,
 'eea6b7f1': 66,
 '73e749e1': 12,
 'e1d1b294': 101,
 'd84378a4': 37,
 '85ad2217': 39,
 'b9a3d8c6': 54,
 'a58af75f': 5,
 'b590a4d8': 22,
 '2d783277': 5,
 '5471024e': 13,
 '1fb2f362': 10,
 'd1ac815a': 2,
 '1f3ad23f': 9,
 '608e1581': 13,
 '688b2d58': 3,
 '2cccba8f': 7,
 'fdd414ab': 6,
 'd5403021': 61,
 '881a9bdd': 98,
 'bcb01d8c': 4,
 '84826f48': 60,
 'ec02b798': 89,
 'f27f89e8': 5,
 '7c63baa7': 10,
 '035cb925': 24,
 '1a3cc554': 54,
 'b2e1d224': 33,
 '1747ea18': 22,
 '94b8d7dd': 11,
 '9ec74db8': 17,
 'e21bc7f3': 65,
 '331ea488': 37,
 '372455c4': 152,
 '2e8994e7': 129,
 '29e95537': 83,
 '70d205c9': 48,
 'c374f37f': 18,
 'ffb504b1': 25,
 '87e562a9': 54,
 'bd77eb62': 88,
 '1777c020': 77,
 '2254ab79': 37,
 '8a75e999': 113,
 '40c041ea': 65,
 '42172c3c': 5,
 'b8cc58c9': 35,
 '0fa5042b': 18,
 'c5d7b244': 19,
 '21afb939': 20,
 '9a6b71d1': 5,
 'c4bc3b59': 12,
 'e95cd1f5': 1,
 'f8fd6e3f': 80,
 'e734d090': 13,
 '6a7239a7': 11,
 '3c6ffae8': 10,
 '9b4935c8': 11,
 '98ecf62a': 36,
 '6a0537aa': 3,
 '6c1beb66': 2,
 'f5390243': 33,
 '9a95bebb': 34,
 '72e60730': 56,
 'c3564c2d': 11,
 '365229a8': 18,
 'a82eb3fb': 49,
 '6f02fe2a': 56,
 'cddafe26': 61,
 '099135ad': 14,
 'e5309baa': 33,
 '3029e282': 12,
 '50250426': 55,
 'b98b5e1c': 19,
 '9c9f8dbc': 2,
 'a8ce3491': 6,
 'a9520ac2': 13,
 'f407e354': 2,
 '42537f07': 20,
 '60beb01b': 27,
 '004c9e85': 23,
 '5fbe14fc': 71,
 '1e960f2a': 28,
 'de8cce37': 27,
 'cff25ee1': 16,
 '8319b9ea': 15,
 'b863eae9': 3,
 '656202a7': 7,
 '348195ea': 21,
 '75de770f': 73,
 'fe93fd9d': 5,
 'd4f9dbd4': 5,
 '1bae756b': 21,
 '09a9d073': 59,
 'd1523761': 38,
 '3d5d51a5': 13,
 'd96165b5': 7,
 'fc2fffb5': 20,
 '33609a8c': 9,
 '509a7ca1': 44,
 '8dd02a98': 117,
 '770494eb': 3,
 '2e2fe3e8': 8,
 'd3a3e82d': 14,
 'b5da6c24': 24,
 'afa7e784': 22,
 '06cad4f0': 10,
 '5661ef90': 13,
 '074acfb4': 29,
 '5eb51b97': 8,
 '8716233e': 9,
 '95a5e066': 48,
 '9f308dfc': 14,
 '7eb36269': 37,
 '91ffa6c6': 36,
 '3185266a': 8,
 '18261c22': 14,
 'a75a78eb': 5,
 'b3bad3f2': 10,
 'c4ff0618': 10,
 '1e7b1aa7': 6,
 '463cd7cb': 5,
 '2c13defe': 8,
 '27cc4361': 1,
 '2a9eee66': 40,
 'ec9db8a7': 12,
 'd8e79af0': 13,
 '45963d9e': 51,
 '0f12f9df': 11,
 '53fe6ee4': 15,
 'd7c6af50': 6,
 '99639abf': 43,
 '0b130202': 13,
 '47c5aae7': 5,
 '2e929b99': 9,
 '99d63244': 11,
 'c16d4035': 10,
 'd67d5f00': 46,
 '235c2bb6': 43,
 '8afe73e2': 36,
 'e824e6ee': 122,
 '1b6fef02': 9,
 'fd8f11e9': 32,
 'dbe50b21': 18,
 '0a9d8b61': 11,
 '773cec26': 27,
 'ade071c5': 2,
 'acc321aa': 25,
 '54279e23': 16,
 '2f0d7e4a': 32,
 'df7ed601': 11,
 '08548b13': 9,
 '45eda7c8': 4,
 '69d03465': 24,
 '1a156c88': 6,
 'c5758216': 1,
 '568e5a4a': 6,
 '05de1a5a': 27,
 'b58af144': 15,
 '0a4736eb': 4,
 'f4d6a5b0': 2,
 '9f9b903e': 9,
 '4e1b4323': 12,
 '4d84ad05': 37,
 '9dc3ea7e': 15,
 'a48fc79d': 60,
 '4c4a06fb': 47,
 '7805af0f': 1,
 '4ff67681': 1,
 '8c7d6cbe': 11,
 '6b4593ee': 40,
 'fdedb37c': 25,
 '99663fa5': 8,
 '3c87f0c3': 11,
 'c51add25': 7,
 'b018e1eb': 24,
 'c2f12310': 6,
 '3ee90b67': 2,
 'ac7fa28f': 65,
 '2a2e6343': 1,
 '571e1d2a': 4,
 '33a50ecf': 14,
 '193ef196': 24,
 '2764133a': 40,
 'c9cac448': 11,
 '8187519b': 9,
 '7c70083d': 1,
 'e343abe9': 6,
 'a670d624': 11,
 '27159c6a': 6,
 'd84a2d8e': 5,
 '5ad8c974': 16,
 'bf74b130': 21,
 '752f7486': 23,
 'b0c772ee': 53,
 'c537cf4d': 1,
 '755a77c6': 19,
 'c5b87d8c': 9,
 '18fac429': 2,
 'dce2019b': 7,
 '9295145b': 9,
 '74487d79': 3,
 '54725e8b': 12,
 'cb263798': 10,
 '6ae9c751': 3,
 '9633359f': 10,
 'e16e7347': 14,
 'e8511411': 17,
 '27b8d7b6': 11,
 '3d284ca3': 26,
 'af2c687b': 39,
 'fbdc8309': 19,
 '7e9f1cde': 20,
 'd2d15439': 3,
 '634a7b21': 6,
 'abbdca1a': 4,
 '4a84f573': 9,
 '6fd0c8e1': 5,
 'f994f4ca': 6,
 'e4271302': 10,
 'ae6746e0': 8,
 '3165bc1b': 5,
 'bbd41817': 2,
 'a830c083': 5,
 'c3b93a03': 2,
 '3a9adcce': 5,
 'bceb1b07': 2,
 '49212b50': 4,
 '513158ed': 9,
 '9b12068b': 1,
 '6d8356ee': 3,
 'cf73ad76': 9,
 'c995d726': 23,
 '8fc65c2b': 7,
 'ada15e88': 16,
 '6843a783': 9,
 'e8b5ea8d': 5,
 '6b0c3a20': 5,
 '61f05b05': 17,
 '4167f30b': 10,
 '934b36a6': 21,
 'c01d7726': 15,
 'cbabd6ad': 11,
 '6b75c2b1': 13,
 'a28a7fba': 19,
 'd2e67105': 17,
 '0f721006': 2,
 '243431b5': 40,
 '3e51db81': 8,
 '77191792': 25,
 'b08252b8': 4,
 '6766ca00': 5,
 '12c3ba4d': 8,
 '82294960': 2,
 '82342b13': 5,
 '93b4fc78': 17,
 '7b5c6c0b': 8,
 'f6c2659d': 4,
 '552b228c': 12,
 'd3851cd8': 1,
 '1c17e270': 28,
 '26e5cabf': 11,
 'd2babdd5': 34,
 '4ae1755b': 19,
 'b57f8a9a': 17,
 'f468293b': 19,
 '48301a4b': 15,
 '922e1b19': 8,
 '9caf69a1': 13,
 '5f26f677': 17,
 '58c2fac4': 13,
 '6020a3c6': 23,
 '749a1b3a': 1,
 '62e203d4': 44,
 'cd4d7695': 14,
 '2feb5b8d': 1,
 'a4e37e47': 1,
 '2e171977': 5,
 'b858be20': 2,
 '5fa06777': 16,
 '7147f314': 17,
 'a15618fe': 21,
 'f3cb53a1': 22,
 'c3d35165': 9,
 '3fc3b204': 2,
 '67b9536c': 2,
 '84212ffb': 2,
 '4d220a66': 7,
 '03252e44': 5,
 'e01aafc1': 16,
 'a354c917': 21,
 '989889ff': 19,
 'a56f4b65': 16,
 'a1000a26': 7,
 'fa463154': 1,
 'afb3b840': 1,
 'd3e83eef': 5,
 '51080a1f': 3,
 'e33616eb': 1,
 'd2f72b19': 4,
 'cad00a4d': 31,
 '41fc1ece': 14,
 'fec50c96': 7,
 'eaa76d3c': 7,
 'a90e53ec': 7,
 'c834c290': 5,
 '1b668884': 11,
 '11df3dc8': 3,
 '5fef85ee': 8,
 '80fe764d': 16,
 '37138918': 6,
 'c58b0108': 11,
 'd014d5ac': 7,
 'ff3f6fc1': 3,
 'f3be8d36': 3,
 'b4296080': 8,
 'f93b43dd': 8,
 'e3540b8c': 4,
 'e6ec6b42': 2,
 'e93b6c95': 17,
 'a120e81b': 4,
 '45642393': 23,
 'd5bbb6a2': 6,
 'ad48eb56': 5,
 '1530a7e9': 2,
 '00ea847a': 5,
 '5531248e': 4,
 '2498e163': 6,
 'b7646e8c': 5,
 'c46e9e56': 4,
 'bb9d73d8': 2,
 '710dd98c': 13,
 '9d450c28': 6,
 '818e8bf2': 3,
 '3e91a87f': 7,
 'cca50cd6': 11,
 '8305580c': 6,
 'ff154ecd': 3,
 '50c6bc2b': 5,
 '3c55c703': 3,
 '684d21d7': 6,
 '6c882e9a': 5,
 'd1305df0': 4,
 '7ffe4817': 9,
 '7a32c1c1': 4,
 '45a43fe2': 6,
 '7d5af2ea': 10,
 '4aef496b': 11,
 'fd201eb4': 3,
 '26ff4c29': 6,
 '65a05fe6': 6,
 '9219eff0': 12,
 'a319edf8': 9,
 '782fb776': 1,
 'c5aef772': 1,
 '6581d753': 15,
 '3c4007d3': 1,
 '469ea22b': 2,
 '3ff033bb': 7,
 '03ce169b': 1,
 '3eac9d95': 7,
 '33b3d2df': 6,
 '1236044e': 1,
 '89ce57a8': 6,
 '21e5f325': 11,
 '395179e8': 1,
 'a7a6c1c2': 4,
 '10c158cc': 3,
 '7ecb9a14': 3,
 '0b7b78c6': 4,
 '359e430a': 2,
 'f71de062': 3,
 '08a4f9ad': 2,
 '5791b840': 3,
 'bf2d865c': 3,
 '527b2c2d': 3,
 '5c124657': 2,
 '9911ecbb': 1,
 'f5c198fb': 6,
 '86421172': 3,
 '52980a48': 2,
 'ad733e72': 8,
 'fb16f6e7': 2,
 '05f96194': 12,
 'dff967c1': 5,
 'b0e08fde': 2,
 'c7f6dd3b': 14,
 '971c3f6d': 6,
 '808f425a': 1,
 'f427e63e': 4,
 '95db4ab0': 2,
 '2259c12d': 2,
 '25d8d51a': 2,
 '7923a51d': 4,
 '89c16049': 10,
 'c73bb037': 11,
 '267269e1': 7,
 '5fbd0632': 9,
 'da4a1e46': 4,
 '9f038761': 2,
 'adbf0400': 13,
 '619aa81f': 2,
 '07b6f54c': 5,
 'd5f3b5e1': 7,
 '0994d0ae': 3,
 'a71d0f89': 8,
 '436c763a': 17,
 'e3e09091': 1,
 'ed6894af': 1,
 '6a52f5d3': 3,
 '35aa26af': 7,
 'cefe0886': 3,
 'f19ccfad': 3,
 'd07c1b2f': 8,
 'df08c69e': 3,
 '9a137157': 1,
 '3e722460': 1,
 '3feda4fa': 15,
 'f78e7113': 4,
 'd06335fd': 16,
 '3576e47e': 4,
 'dd09ff8e': 2,
 'cccdde80': 9,
 '45df0e72': 6,
 '02789d88': 9,
 'ed90abe4': 9,
 '0605de92': 4,
 '15d1b59e': 3,
 '6821ac10': 1,
 'f5ef7ac3': 4,
 '525c3f54': 2,
 'b0482a1d': 4,
 '0aa14354': 5,
 '7a5f232a': 6,
 '8b3e9c7c': 6,
 'bbff906c': 7,
 'b7e7313a': 7,
 '1afdbdbf': 1,
 '51a36d3e': 10,
 'c59d8f8a': 6,
 '1d048deb': 8,
 'bd4ea627': 2,
 'ef5cbaf6': 4,
 'a4799701': 2,
 'fc55ec67': 1,
 'ea59139a': 2,
 'd3a1c63d': 9,
 '35f4cf7e': 5,
 '9b6e1b3f': 5,
 'bab78fa2': 2,
 '7f148ce7': 2,
 '50a92895': 4,
 '33085ffb': 5,
 '3967930c': 1,
 '3de06845': 3,
 'bf172ae6': 1,
 'e64c10dd': 8,
 'd666d3a8': 6,
 '55f33b32': 4,
 '7ff3fcaa': 3,
 'f17971df': 8,
 '3b50c63a': 2,
 '5d836a72': 6,
 'd146924b': 4,
 '91052c96': 2,
 '858b6611': 9,
 '075e9f9c': 2,
 'f5180fe6': 1,
 '340db614': 3,
 '45477249': 3,
 'ec526fca': 3,
 '5bd3bb5d': 7,
 '89ffd337': 2,
 'e8d7b493': 2,
 '9fa4ff04': 1,
 '1eff8625': 4,
 '25f7b7d6': 3,
 '101d1e85': 3,
 '5ee47383': 2,
 '4347a4ae': 6,
 '856a5e81': 2,
 '34c823b0': 6,
 '18356eb3': 5,
 '72e361fe': 8,
 '4aad78d3': 3,
 'e94915e6': 1,
 '74d12124': 5,
 '582e9baa': 4,
 '8919756f': 5,
 'e38bce7a': 1,
 '9d0e7c58': 7,
 '17fbaab5': 6,
 '88fccd6c': 5,
 '8629178f': 1,
 'fdac5295': 2,
 '6eea0b32': 8,
 '61dab16a': 5,
 'a97c8ec2': 1,
 'ab89348d': 3,
 '434e36b1': 3,
 'fd67a507': 3,
 'b3e9b7fa': 2,
 'a2a1efe2': 2,
 '2b30ca91': 2,
 '9de31202': 2,
 '59cc6b79': 2,
 'c25927f8': 2,
 '270b3f8e': 3,
 '2fdd16fe': 2,
 '7fa6bd8e': 3,
 'ca92a578': 3,
 'aa8d28ae': 1,
 '99464591': 2,
 '7f3ad1ed': 3,
 'b98cdbf0': 5,
 'c8ad0749': 2,
 'bb134e5c': 4,
 'c7105dab': 6,
 '5208c0a1': 2,
 '0db94786': 2,
 '34d2ca48': 3,
 '80ec5dfd': 1,
 '17f552bf': 6,
 '5f75a7c5': 1,
 '6f4d314b': 2,
 '31e31116': 5,
 '32a8161e': 3,
 '86f84b37': 3,
 '11196470': 3,
 '37312a74': 1,
 'fce581b5': 5,
 'dd121907': 2,
 'f390904d': 2,
 'ba603555': 4,
 'c4d740b3': 2,
 'a76d4082': 4,
 '26f12506': 1,
 'f3bde2b3': 1,
 '29e253dd': 4,
 '1adb8ee8': 2,
 '32198ae0': 6,
 '123e663a': 1,
 '4487cc09': 2,
 '0a951319': 2,
 '9de271ef': 1,
 '3fb197cd': 7,
 'ec4dada1': 8,
 '28131839': 4,
 'ddb41291': 2,
 '4c7df2c8': 2,
 '3473e5f2': 3,
 '1edf29b9': 1,
 '3812d56b': 3,
 '27258b3e': 1,
 '6c19c6e5': 1,
 'ab6b1c45': 1,
 '7a98bc7a': 2,
 '5a7405f1': 1,
 '556302a7': 3,
 '261d6559': 1,
 'd5ae21a2': 7,
 'c41043e6': 5,
 'fe763256': 2,
 'c9945bdf': 1,
 '9db20c92': 3,
 'e6dd77bb': 3,
 'c6e10e5c': 2,
 'f7d267f7': 2,
 '39086549': 3,
 '94d7f855': 1,
 '156378d8': 1,
 '637b6fbd': 1,
 '0a4735b4': 3,
 '9a158001': 1,
 'fe366f34': 1,
 'd405c0d5': 2,
 'c96f6ac5': 1,
 '73ad96ed': 2,
 'fbcfa528': 2,
 '6df8d190': 2,
 'b8f3362a': 3,
 '650d5e49': 3,
 'd2a2bb1a': 2,
 '9920dd86': 2,
 '811425b1': 2,
 '7a4819e1': 1,
 'fb66ce1f': 1,
 'b15eaf77': 2,
 '7c503806': 1,
 '22feee04': 1,
 '9a46c4e5': 3,
 '5d664346': 3,
 'da045dea': 1,
 '8a15b50b': 1,
 '944533a5': 2,
 '881b3f8e': 2,
 'c03c6200': 2,
 'd07dbc28': 2,
 '3c00e140': 2,
 '8bd614b2': 1,
 '1d5dd8a6': 2,
 'a45a5e8d': 1,
 'feb37330': 1,
 'b4bef2ed': 2,
 '43f4087c': 1,
 'c70448aa': 3,
 'a64e3b89': 1,
 '7ba54dc9': 1,
 'd32a4a41': 2,
 '4c5d73db': 1,
 '59ddd811': 3,
 'bf7842c9': 1,
 '3fb19989': 1,
 'be8eec9c': 1,
 'e3a949be': 1,
 'c13e34f4': 2,
 'c05f9d20': 1,
 'add57f1f': 2,
 '92c43fac': 1,
 'ef7a904e': 1,
 'b2ae53f5': 1,
 '5a22d91c': 2,
 'd5130a30': 3,
 'c740ea83': 1,
 '98e908bd': 1,
 'be768595': 1,
 'f708a0bc': 1,
 '890946a0': 1,
 '9868bc75': 1,
 '4861d29b': 2,
 '158d6619': 1,
 'c68554a6': 1,
 '3ce127f2': 1,
 'a98a6b86': 1,
 '5d38476c': 1,
 '31ca7a9c': 2,
 'e0557f7f': 1,
 '70ced7f2': 1,
 '8ffe3c97': 1,
 '49dc9cb4': 1,
 '2a242d58': 1,
 'a38e7be7': 1,
 'a81d6706': 1,
 'c942a53b': 1,
 'd7d744e5': 1,
 'ab965cad': 2,
 'a91392b4': 1,
 '6eb146d2': 1,
 '97edbfb1': 1,
 '97b0e4ff': 1,
 '7e38d2de': 1,
 '18eaf2fa': 1,
 '7a624752': 2,
 '04f4f2e1': 2,
 '8dbda772': 2,
 '599ce28e': 1,
 '3227beb4': 2,
 'be4cefab': 1,
 'a36915ce': 1,
 '3a60e0b5': 2,
 'a2421394': 1,
 '30b60511': 1,
 '85caa37f': 1,
 '9811e35e': 1,
 '3b8e7647': 1,
 '3edb58fc': 1,
 'ca4db40e': 1,
 '2ef4f045': 1,
 '5cb078d6': 1,
 '8692a3f1': 1,
 '5dc19220': 1,
 '24fcd95d': 1,
 '97b7c5c0': 1,
 '12f6b3bd': 1,
 '134ba8ae': 1,
 'f9a87783': 1,
 'e1e81c75': 1,
 'a3b936c8': 1,
 'c15e2193': 1,
 '5be810ba': 2,
 '5673a3fc': 1,
 'e0351c86': 1,
 'e4a0deae': 1,
 'b58b7db6': 1,
 'c27518d2': 1,
 '05c2ca46': 1,
 'c63671e9': 1,
 'b8704508': 1}

In [10]:
import os
from joblib import Parallel, delayed
from collections import defaultdict

json_folder = "/home/ai21btech11012/FIFS_dream11/src/data/raw/cricsheet/all_json/"

all_files = os.listdir(json_folder)
all_paths = [os.path.join(json_folder, file) for file in all_files]

# Function to process a single file
def process_match(match_path):
    # bw_dict = get_bowler_stat_per_match(match_path, player_data_path)
    get_batters(match_path)
    return 

# Run parallel processing
# Parallel(n_jobs=-1)(delayed(process_match)(path) for path in all_paths)
for path in all_paths:
     process_match(path)

In [12]:
import pandas as pd

def correct_unclassified(df, batter_dict):
    """
    Corrects "Unclassified" player roles to "Batter" if the player_id is in batter_dict.

    Args:
        df: The Pandas DataFrame containing player data.
        batter_dict: A dictionary where keys are player_ids and values are relevant (can be anything, even None).  Used to check if a player is in the batter category.

    Returns:
        The modified Pandas DataFrame.
    """
    for idx, row in df.iterrows():
        if row["player_role"] == "Unclassified" and row["player_id"] in batter_dict:
            # Use .loc to modify the DataFrame correctly
            df.loc[idx, "player_role"] = "Batter"  # Corrected to "Batter"
    return df

# Example usage (replace with your actual data and dictionary):
df = pd.read_csv("classified_odi_players.csv")
# batter_dict = {1: None, 2: None, 5: None} # Example: Player IDs 1, 2, and 5 are batters

df = correct_unclassified(df, batter_dict)

print(df)
df.to_csv("corrected_classified_odi_players.csv", index=False) # Save the corrected DataFrame

     player_id           player   player_role
0     004c9e85        PJ Hughes        Batter
1     008589a4        CM Wright  Unclassified
2     00d69fa4        SO Tikolo        Batter
3     00ea847a       MA Agarwal        Batter
4     00ea9791  HP Tillakaratne        Batter
...        ...              ...           ...
1839  ff1ec94d          R Klein  Unclassified
1840  ff3f6fc1   Mohammad Haris        Batter
1841  ff6a7ab5    R Trumpelmann        Bowler
1842  ffb504b1      XM Marshall        Batter
1843  ffe699c0        CJ Jordan  Unclassified

[1844 rows x 3 columns]

In [6]:
df  = pd.read_csv("corrected_classified_odi_players.csv")
unclassified_count = (df["player_role"] == "Unclassified").sum()
unclassified_count

np.int64(506)

## PLayer classification using web scrappiing

In [7]:
import pandas as pd

df1 = pd.read_csv("corrected_classified_odi_players.csv")
df1.head()

  player_id           player   player_role
0  004c9e85        PJ Hughes        Batter
1  008589a4        CM Wright  Unclassified
2  00d69fa4        SO Tikolo        Batter
3  00ea847a       MA Agarwal        Batter
4  00ea9791  HP Tillakaratne        Batter

In [8]:
df2 = pd.read_csv("/home/ai21btech11012/FIFS_dream11/src/data/raw/cricsheet/people.csv")
df2.head()

,identifier,name,unique_name,key_bcci,key_bcci_2,key_bigbash,key_cricbuzz,key_cricheroes,key_crichq,key_cricinfo,...,key_cricingif,key_cricketarchive,key_cricketarchive_2,key_cricketworld,key_nvplay,key_nvplay_2,key_opta,key_opta_2,key_pulse,key_pulse_2
0,b4a23876,AAA Amsterdam,AAA Amsterdam,NaN,NaN,NaN,NaN,NaN,NaN,772407.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,482762af,AA Adeoye,AA Adeoye,NaN,NaN,NaN,NaN,NaN,NaN,380588.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4b0e3049,AA Alleyne,AA Alleyne,NaN,NaN,NaN,NaN,NaN,NaN,661441.0,...,NaN,1512811.0,NaN,NaN,NaN,NaN,NaN,NaN,18542.0,NaN
3,fd3c5c00,AAA Patel,AAA Patel,NaN,NaN,NaN,NaN,NaN,NaN,1163136.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,bc005f0d,AAA White,AAA White,NaN,NaN,NaN,NaN,NaN,NaN,474307.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
import pandas as pd

# Load the datasets
corrected_players = pd.read_csv("corrected_classified_odi_players.csv")
people = pd.read_csv("/home/ai21btech11012/FIFS_dream11/src/data/raw/cricsheet/people.csv")

# Perform the left join
left_joined = pd.merge(
    corrected_players,
    people[["identifier", "key_cricinfo"]],  # Selecting only necessary columns from people.csv
    left_on="player_id",
    right_on="identifier",
    how="left",
)

# Select and reorder the desired columns
final_df = left_joined[["player_id", "player", "player_role", "key_cricinfo"]]

# Display the first few rows of the joined dataframe
print(final_df.head())

# Save the joined dataframe to a new CSV file (optional)
final_df.to_csv("left_joined_players.csv", index=False)

  player_id           player   player_role  key_cricinfo
0  004c9e85        PJ Hughes        Batter      272364.0
1  008589a4        CM Wright  Unclassified       25123.0
2  00d69fa4        SO Tikolo        Batter       24728.0
3  00ea847a       MA Agarwal        Batter      398438.0
4  00ea9791  HP Tillakaratne        Batter       50744.0

In [28]:
df = pd.merge(df, list_df, on='key_cricinfo', how='left')

In [37]:
import re
def categorize_role(row):
    role = row['role']
    player_role = row['player_role']

    if role is None:
        if player_role == 'Batter':
            return 'Batter'
        elif player_role == 'Bowler':
            return 'Bowler'
        elif player_role == 'All-Rounder':
            return 'Allrounder'
        else:
            return 'Unclassified'

    role = str(role).lower()

    if re.search(r'allrounder', role):
        if re.search(r'batting', role):
            return 'Batting Allrounder'
        elif re.search(r'bowling', role):
            return 'Bowling Allrounder'
        else:
            return 'Allrounder'
    elif re.search(r'batter', role):
        return 'Batter'
    elif re.search(r'bowler', role):
        return 'Bowler'
    else:
        return 'Unclassified'

# Apply the function to create the 'final_role' column
df['final_role'] = df.apply(categorize_role, axis=1)

In [53]:
df.to_csv("final_classified.csv", index=False)

## Number of matches played

In [70]:
odi_df = pd.read_csv("/home/ai21btech11012/FIFS_dream11/src/data/interim/ODI_all.csv")
res = odi_df.groupby("player_id")["player_id"].count().reset_index(name="count")
res

     player_id  count
0     004c9e85     25
1     008589a4      7
2     00d69fa4     39
3     00ea847a      5
4     00ea9791     16
...        ...    ...
1863  ff1ec94d     13
1864  ff3f6fc1      6
1865  ff6a7ab5     35
1866  ffb504b1     26
1867  ffe699c0     34

[1868 rows x 2 columns]

In [72]:
filtered_res = res[res["count"]>=10]
filtered_res

     player_id  count
0     004c9e85     25
2     00d69fa4     39
4     00ea9791     16
5     012829ff     29
9     0184dc35    126
...        ...    ...
1860  ff077124    134
1863  ff1ec94d     13
1865  ff6a7ab5     35
1866  ffb504b1     26
1867  ffe699c0     34

[985 rows x 2 columns]

In [74]:
merged_df = pd.merge(filtered_res, df, on='player_id', how='left')
merged_df

,player_id,count,player,player_role,key_cricinfo,role,final_role
0,004c9e85,25,PJ Hughes,Batter,272364,Opening Batter,Batter
1,00d69fa4,39,SO Tikolo,Batter,24728,Allrounder,Allrounder
2,00ea9791,16,HP Tillakaratne,Batter,50744,Batter,Batter
3,012829ff,29,JW Hastings,All-Rounder,228622,Allrounder,Allrounder
4,0184dc35,126,R Dravid,Batter,28114,Top order Batter,Batter
...,...,...,...,...,...,...,...
980,ff077124,134,Kamran Akmal,Batter,41028,Wicketkeeper Batter,Batter
981,ff1ec94d,13,R Klein,Unclassified,594996,Bowler,Bowler
982,ff6a7ab5,35,R Trumpelmann,Bowler,698317,Bowler,Bowler
983,ffb504b1,26,XM Marshall,Batter,52626,Opening Batter,Batter
984,ffe699c0,34,CJ Jordan,Unclassified,288992,Bowler,Bowler

In [75]:
merged_df["role"].isna().sum()

np.int64(9)