In [1]:
import pandas as pd

matches = pd.read_csv('../data/interim/matches_info.csv')
matches

,date,type,format,gender,match_id,teams
0,2024-11-10,international,T20,male,1456442,New Zealand vs Sri Lanka
1,2024-11-10,international,T20,male,1449302,India vs South Africa
2,2024-11-10,international,T20,male,1433374,West Indies vs England
3,2024-11-10,international,T20,female,1456865,China vs Hong Kong
4,2024-11-10,international,T20,female,1456864,Mongolia vs Myanmar
...,...,...,...,...,...,...
17824,2003-01-01,international,ODI,male,64815,India vs New Zealand
17825,2002-12-29,international,ODI,male,64814,New Zealand vs India
17826,2002-12-26,international,Test,male,64022,South Africa vs Pakistan
17827,2002-12-26,international,Test,male,64012,Australia vs England
17828,2001-12-19,international,Test,male,63963,England vs India

In [5]:
import os
import json
import tqdm
files = os.listdir("../data/raw/cricksheet/data/all_json")
l = set()
for file in tqdm.tqdm(files):
    with open(f"../data/raw/cricksheet/data/all_json/{file}") as f:
        try:
            data = json.load(f)
            l.add(data["info"]["match_type"])
        except:
            print(file)
l, len(l)

 65%|██████▍   | 11620/17923 [05:08<04:40, 22.46it/s]

README.txt

100%|██████████| 17923/17923 [08:02<00:00, 37.12it/s]

({'IT20', 'MDM', 'ODI', 'ODM', 'T20', 'Test'}, 6)

In [4]:
with open("../data/raw/cricksheet/data/all_json/1442667.json") as f:
    data = json.load(f)
    
data["info"]["match_type"]

'T20'